@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  @include flex(center, center);
  min-height: 100vh;
  background: rgba(120,120,120,1);
}

.wrapper {
  @include flex(center, center);
  flex-direction: column;
  width: 30%;
  min-width: 400px;
  min-height: 300px;
  background: rgba(150,150,150,1);
  box-shadow: 10px 10px 15px 5px rgba(50,50,50,1);
  border-radius: 10px;

  .guess-between {
    @include flex(center, center);
    width: 90%;
    height: 50px;
    background: rgba(190,190,190,1);
    border-radius: 10px;
    margin-bottom: 20px;

    &.hide {
      display: none;
    }
  }

  .mode {
    @include flex(space-around, center);
    width: 90%;
    height: 50px;
    background: rgba(190,190,190,1);
    border-radius: 10px;
    margin-bottom: 20px;

    &.hide {
      display: none;
    }

    .mode-option {
      @include flex(center, center);
      min-width: 100px;
      height: 80%;
      cursor: pointer;
      color: rgba(0,0,0,1);
      text-transform: uppercase;
      border: none;
      position: relative;

      & span {
        display: none;
      }

      &.select {
        
        & span {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: block;

          &:nth-child(1) {
            transform: rotate(0deg);
          }

          &:nth-child(2) {
            transform: rotate(180deg);
          }

          &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            background: #50dfdb;
            animation: animate 1s linear infinite;
          }
        }
      }

      &[name="easy"] {
        background-color: rgba(14, 130, 4, 1);

        &.select, &:hover {
          background-color: rgba(20, 191, 6, 1);
          color: rgba(255,255,255,1);
          border: 1px solid #fff;
        }
      }

      &[name="medium"] {
        background-color: rgba(4, 63, 130, 1);

        &.select, &:hover {
          background-color: rgba(6, 98, 201, 1);
          color: rgba(255,255,255,1);
          border: 1px solid #fff;
        }
      }

      &[name="hard"] {
        background-color: rgba(179, 25, 25, 1);

        &.select, &:hover {
          background-color: rgba(237, 36, 36, 1);
          color: rgba(255,255,255,1);
          border: 1px solid #fff;
        }
      }
    }
  }

  .game-div {
    @include flex(space-around, center);
    width: 90%;
    height: 50px;
    background: rgba(190,190,190,1);
    border-radius: 10px;
    margin-bottom: 20px;

    .between {
      font-size: 20px;

      &.hide {
        display: none;
      }
    }

    .restart {
      @include flex(center, center);
      height: 50px;

      &.hide {
        display: none;
      }
    }

    & button {
      width: 100px;
      height: 80%;
      outline: none;
      border: none;
      background: rgb(61, 61, 61);
      color: rgba(255,255,255,1);
      cursor: pointer;
      
      &.hide {
        display: none;
      }

      &:hover {
        background: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
      }
    }
  }

  .game-form {
    @include flex(center, center);
    width: 90%;
    height: 50px;
    background: rgba(190,190,190,1);
    border-radius: 10px;

    & input {
      width: 200px;
      margin-right: 20px;
      height: 50%;
      text-align: right;
      font-size: 17px;
      outline: none;
      border: none;

      &:focus, &:hover {
        outline: none;
        border: none;
      }
    }

    & button {
      width: 60px;
      height: 55%;
      border: none;
      cursor: pointer;

    }
  }
}

@keyframes animate {
  0% {
    transform:scaleX(0);
    transform-origin: left;
    }
    50%
    {
      transform:scaleX(1);
    transform-origin: left;
    }
    50.1%
    {
      transform:scaleX(1);
    transform-origin: right;
      
    }
    
    100%
    {
      transform:scaleX(0);
    transform-origin: right;
      
    }
}